/*
CSS custom a parte del utilizado con bootstrap.
*/
body{
  margin-top:20px;
  background:#eee;
  color: #708090;
}

.premium-highlight{
  background-color: darkgoldenrod;
  border-radius: 5px !important; 
  border: 3px solid #000000 !important;
  color: #000000;
}

.border-warning{
border-radius: 5px !important; 
border: 3px solid #fdad00 !important;
}